{{ $email := promptString "email" -}}
{{- $homebrewDir := "" -}}
{{- if eq .chezmoi.os "darwin" }}
  {{- if eq .chezmoi.arch "arm64" }}
    {{ $homebrewDir = "/opt/homebrew" }}
  {{- else -}}
    {{ $homebrewDir = "/usr/local" -}}
  {{- end -}}
{{- end -}}


encryption = "age"
[data]
  email = {{ $email | quote }}
  {{- if hasKey .chezmoi.osRelease "id" }}
  osid = {{ printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id | quote }}
  {{- else }}
  osid = {{ .chezmoi.os | quote }}
  {{- end }}
  homebrewDir = {{ $homebrewDir | quote }}
[data.options]
  android = false
  gcloud = false
  brew = false
  java = false
  ruby = false
[diff]
  pager = "delta"
[age]
  identity = "{{ .chezmoi.configFile | dir }}/identity.txt"
  recipient = "age14y0f2fjgejf0r3khur0v6wkx4y22jf8p5t29ah2ppct3gpr8vusqfllwpd"
[git]
    autoCommit = true
