{{- if not .options.gcloud }}
dot_config/zsh/gcloud.zsh
{{ end -}}

{{- if not .options.android  }}
dot_config/zsh/android.zsh
{{ end -}}

{{- if not .options.brew  }}
run_once_brew-bundle.sh.tmpl
{{ end -}}

{{- if not (eq .osid "linux-ubuntu") }}
dot_config/zsh/keychain.zsh
run_onchange_install-packages.sh
{{ end -}}
