# This is Git's per-user configuration file.
[user]
  name = David Buchan-Swanson
  email = {{ .email }}
  signingkey = DB022207558471B5
[commit]
  gpgsign = true
[core]
  pager = delta
[rerere]
  enabled = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[delta]
  line-numbers = true
  navigate = true
  hyperlinks = true
[alias]
  commito = commit
  clean-branches = "!git fetch --all; git branch --merged origin/main | rg -v '(^\\*)|main' | xargs -n 1 git branch -d"
[init]
	defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[diff]
    colorMoved = default
[merge]
    conflictstyle = diff3
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[push]
	autoSetupRemote = true
