# by default, if you have `vi` in `$EDITOR`, zsh will opt-in to vim mode
# vim mode is pretty garbage and i'm used to emacs mode, so we explicitly force
# that one
bindkey -e

{{ if eq .osid "darwin" -}}
eval $({{.homebrewDir}}/bin/brew shellenv)
{{- end }}

if [[ -n "$(command -v mise)" ]]; then
  eval "$(mise activate zsh)"
fi

for f in ~/.config/zsh/*; do
  source "$f"
done

eval $(starship init zsh)

util.source_if_exists ~/.fzf.zsh

export EDITOR=nvim

export FASTLANE_SKIP_UPDATE_CHECK=1
export FASTLANE_HIDE_PLUGINS_TABLE=1
export FASTLANE_HIDE_CHANGELOG=1

alias cat="bat"
alias ls="eza"
alias l="ls -al"

alias vi="nvim"
alias cz="chezmoi"

util.source_if_exists ~/projects/ferocia/up/.zsh-up-completion/init.zsh

# edits the nvim config
function nedit() {
  pushd ~/.config/nvim
  vi init.lua
  cz re-add
  popd
}

function zedit() {
  cz edit ~/.zshrc
}

function esc() {
  printf "\x1B${@}"
}

if [[ -n "$KITTY_PID" ]]; then
  alias icat="kitty +kitten icat"
  alias kdiff="kitty +kitten diff"
fi

bindkey "^P" history-beginning-search-backward
bindkey "^N" history-beginning-search-forward

{{ if eq .osid "darwin" -}}
fpath+=("$(brew --prefix)/share/zsh/site-functions")
{{- end }}

util.source_if_exists "${HOME}/.iterm2_shell_integration.zsh"

if [[ -d "$HOME/bin" ]]; then
  path+=("$HOME/bin")
fi

util.source_if_exists "$HOME/.cargo/env"

# path=("$(beers --prefix)/bin" $path)
