#!/usr/bin/env bash

echo "Installing packages..."

if [[ -z "$(command -v mise)" ]]; then
  curl https://mise.run | sh
  eval "$(~/.local/bin/mise activate zsh)"
fi

if [[ -z "$(command -v brew)" ]]; then
  NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

packages=(
  git
  zsh
)

{{ if eq .osid "linux-ubuntu" }}

# i need to add mise here somehow

packages+=(
  build-essential
  keychain
  luajit
  libz-dev # this is for asdf-ruby
  libyaml-dev # also for ruby
)

echo "Installing the following from apt:"
echo "${packages[*]}"

sudo apt update
sudo apt install -y ${packages[*]}

ln -s /usr/bin/batcat ~/bin/bat

# apt has a super old neovim
sudo snap install nvim --classic
{{ else if eq .osid "darwin" }}

packages+=(
  gnupg
  libyaml
  pinentry-mac
  htop
)

echo "Installing the following from homebrew:"
echo "${packages[*]}"

brew install ${packages[*]}

casks=(
  hiddenbar
  nikitabobko/tap/aerospace
  localsend
)

brew install --cask ${casks[*]}
{{ end }}

echo "Done!"
