#!/usr/bin/env bash

echo "Installing packages..."

packages=(
  bat
  exa
  git
  ripgrep
  zsh
)

{{ if eq .osid "linux-ubuntu" }}

packages+=(
  build-essential
  keychain
  luajit
  libz-dev # this is for asdf-ruby
)

echo "Installing the following from apt:"
echo "${packages[*]}"

sudo apt update
sudo apt install -y ${packages[*]}

ln -s /usr/bin/batcat ~/bin/bat

# apt has a super old neovim
sudo snap install nvim --classic
{{ else if eq .osid "darwin" }}

packages+=(
  neovim
  just
)

echo "Installing the following from homebrew:"
echo "${packages[*]}"

brew install ${packages[*]}
{{ end }}

if [[ ! -d ~/.fzf ]]; then
  echo "Installing fzf..."
  git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf
  ~/.fzf/install --completion --key-bindings --no-update-rc

  # this is usually auto-sourced in the zshrc. source here to enable it now
  . ~/.fzf.zsh
fi


echo "Done!"
