#!/usr/bin/env bash

if [[ ! -d ~/.asdf ]]; then
  git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.11.3

  # usually, this will be auto-sourced by the shell when it starts, but if we're just installing it
  # now, that won't have happened yet
  source ~/.asdf/asdf.sh
fi

# tool-versions hash: {{ include "dot_tool-versions" | sha256sum }}

while IFS= read -r plugin; do
  asdf plugin add "$plugin"
done < <(awk '{ print $1 }' ~/.tool-versions)

asdf install
