#!/usr/bin/env bash

{{ $configDir := dir .chezmoi.configFile }}
{{ $identityFile := printf "%s/identity.txt" $configDir }}

if [ -f "{{- $identityFile -}}" ]; then
  read -n1 -p 'Age identify file exists, do you want to overwrite? [y/N]' confirm

  echo

  case "$confirm" in
    [yY]) echo "Continuing..." ;;
    *) echo "Exiting"; exit 0 ;;
  esac
fi

mkdir -p "{{- $identityFile | dir -}}"

echo "{{ onepasswordRead "op://private/jmnliqlqmffzxppf6b5hmlbp44/password" }}" > "{{- $identityFile -}}"
