#!/usr/bin/env bash

setup() {
  # clear out all the dock icons
  defaults write com.apple.dock persistent-apps -array
  killall Dock

  # TODO: bind caps to esc
  # TODO: set dock preferences
}

{{- if eq .osid "darwin" }}
setup
{{ end -}}
