<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{.name}}</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/hidutil</string>
        <string>property</string>
        <string>--set</string>
        <string>{"UserKeyMapping":[{"HIDKeyboardModifierMappingSrc":0x700000039,"HIDKeyboardModifierMappingDst":0x700000029}]}</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>LaunchEvents</key>
    <dict>
      <key>com.apple.iokit.matching</key>
      <dict>
        <key>com.apple.usb.device</key>
        <dict>
          <key>IOProviderClass</key>
          <string>IOUSBDevice</string>
          <key>idProduct</key>
          <string>*</string>
          <key>idVendor</key>
          <string>*</string>
          <key>IOMatchLaunchStream</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/{{.name}}.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/{{.name}}.log</string>
    <key>ThrottleInterval</key>
    <integer>10</integer>
</dict>
</plist>
